body {
  background-color: lightgray;
  margin: 0;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

.episode {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  flex: 1 0 25%;
  margin: 1%;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.season {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  flex: 1 0 25%;
  margin: 1%;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.episode h3, .season h3 {
  order: 1;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  border: 0.1em black solid;
  border-radius: 0.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.episode p {
  color: rgb(88, 88, 88);
  padding: 1em;
  order: 1;
}

.season p {
  color: rgb(88, 88, 88);
  padding: 1em;
}

.episode img {
  width: 15.63rem;
  height: 8.75rem;
}

.episode img, .season img {
  margin: 1em;
  align-self: center;
}

.show img, .season img {
  width: 13.13rem;
  height: 18.44rem;
}

#navigation {
  margin: 0;
  display: flex;
  padding: 1% 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(165, 164, 164);
}

#navigation select, button, input {
  padding: 1em;
  border-color: rgb(209, 202, 202);
  border-radius: 0.5em;
}

#navigation button {
  height: 3.5em;
  align-self: flex-end;
}

#navigation button:hover {
  background-color: lightgray;
}

#returnAllEpisodes {
  visibility: hidden;
}

#episodesDroplist {
  display: none;
}

.select-group, button {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

label[for="episodesDroplist"] {
  display: none;
}


label[for="input"] {
  visibility: hidden;
}

.show {
  display: grid;
  grid-template-columns: repeat(20, auto);
  grid-template-rows: repeat(4, auto);
  margin: 1em 2em;
  padding: 0 2em 2em 2em;
  border-radius: 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.show h2 {
  grid-row: 1/2;
  grid-column: 1/-1;
  font-size: 3em;
  padding-left: 1em;
  justify-self: start;
}

.show image {
  grid-row: 2/5;
  grid-column: 2/5;
}

.show p {
  grid-row: 2/3;
  grid-column: 5/-5;
  margin: 1em;
  font-size: 1.1em;
  color: rgb(88, 88, 88);
}

.castList p {
  color: black;
}

.show aside {
  grid-row: 1/4;
  grid-column: -5/-1;
  border-radius: 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  align-self: center;
  padding: 5em 1em;
  font-size: 1.1em;
  max-height: 100%;
}

.show h2:hover,
.season h3:hover,
.castList p:hover,
.castList span:hover,
.readMore:hover {
  color: rgb(86, 86, 224);
  cursor: pointer;
}

.castList {
  grid-row: 3/5;
  grid-column: 5/-5;
  margin: 2em;
  border-radius: 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 1.5em
}

.castList p.disabled-hover:hover {
  color: rgb(88, 88, 88);
  cursor: default;
}

.castList p.disabled-hover {
  color: rgb(88, 88, 88);
}

.castList span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1em;
}

#seasonsDroplist {
  display: none;
}

label[for="seasonsDroplist"] {
  display: none;
}

#showHead {
  font-size: 3em;
  text-align: center;
  padding: 1rem;
}

.readMore {
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  color: black;
}