body {
  background-color: lightgray;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

.episode {
  flex: 1 0 25%;
  margin: 1%;
  text-align: center;
  background-color: white;
  border-radius: 0.5em;
}

.episode h3 {
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  border: 0.1em black solid;
  border-radius: 0.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.episode p {
  color: rgb(117, 114, 114);
  padding: 1em;
}

#navigation {
  display: flex;
  margin: 1%;
  margin-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navigation select, button, input {
  padding: 1em;
  border-color: rgb(209, 202, 202);
  border-radius: 0.5em;
}

#navigation button {
  height: 3.2em;
  align-self: flex-end;
  margin-bottom: 0.3em;
}

#navigation label {
  color: rgb(83, 82, 82);
}

.select-group {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

/* #search select {
  padding: 0.8em;
  border-color: rgb(209, 202, 202);
  border-radius: 0.5em;
}

#search button {
  padding: 0.8em;
  border-color: rgb(209, 202, 202);
  border-radius: 0.5em;
} */